body{background-color: darkseagreen;}
.adduser-div{background-color: dimgray;}
.fieldset{background-color: dimgray;}
            h1{color: rgb(70, 28, 3);}
           .inputButton{background-color: rgb(209, 162, 162);}
           .seeBuses{background-color: rgb(168, 123, 201);}