body{background-color: aqua;}
.fieldset{
    background-color: burlywood;}
    .h1{color: rgb(182, 87, 58) ;}
.submit{background-color: cadetblue;}
.home{
    background-color: rgb(45, 202, 230);
    border: 1px solid darkblue;
    border-radius: 2px;
}